@using Test2.ViewModels;

@model IEnumerable<Team>
 

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<div class="album py-5 bg-light">
    <div class="container">

        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-md-4">
                    <div class="card mb-4 box-shadow">
                        <img class="card-img-top" data-src="holder.js/100px225?theme=thumb&bg=55595c&fg=eceeef&text=Thumbnail" alt="Card image cap">
                        <div class="card-body">
                            <p class="card-text">@item.Name.</p>
                            <p class="card-text">@item.Description.</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <a type="btn btn-success" asp-controller="Team" asp-action="Detail" asp-route-id="@item.Id"
                                    class="btn btn-sm btn-outline-secondary">View</a>
                                    @if (User.Identity.IsAuthenticated && User.IsInRole("admin"))
                                    {

                                        <a asp-controller="Team" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-outline-secondary">Edit</a>
                                        <a asp-controller="Team" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-sm btn-outline-secondary">Delete</a>
                                    }
                                </div>
                                <small class="text-muted">@item.LeagueName</small>
                                <small class="text-muted">@item.BasketballNiId</small>
                            </div>
                        </div>
                    </div>
                </div>

            }
        </div>
    </div>
</div>




@*<table class="table table-hover table-bordered">
    <thead>
        <tr>
                
            <th scope="col">Team Name</th>
            <th scope="col">League Name</th>
            <th scope="col">Biography</th>
        </tr>
    </thead>
    @foreach (var item in Model)
    {    <tbody>
        <tr>
            
            <td>@item.Name</td>
            <td>@item.LeagueName</td>
            <td>@item.Description</td>
                <td>
                    <a asp-controller="Team" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-sm btn-outline-secondary">Edit</a>
                </td>
        </tr>
    </tbody>
    }
</table>

*@